@import "../styles/variables";

.chat-room {
  &_wrapper {
    border: 1px solid $border-color;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  &_window {
    flex: 1;
    background: $secondary-color;
    &__title {
      padding: 16px;
      color: $text-color;
    }
    &__description {
      padding: 16px;
      color: $text-color;
    }
  }
  &_form {
    display: grid;
    grid-template-columns: 30% 60% 1fr;
    width: 100%;
  }
  &_error {
    color: $error-color;
  }
}