@import "../styles/variables";

.choose-room {
  &_wrapper {
    background-color: $secondary-color;
    height: 100vh;
  }
  &_window {
    margin: 0 auto;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
      padding: 12px;
      color: $text-color;
      font-size: 32px;
      font-weight: 600;
    }
  }
}