@import "../styles/variables";

.room {
  &_wrapper {
    background-color: $background-color;
    border: 1px solid $border-color;
    margin: 12px;
    max-width: 280px;
    padding: 16px;
    width: 100%;

    &:hover {
      cursor: pointer;
    }
  }
  &_text {
    color: $text-color;
  }
}